:root {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./main_background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#welcome-screen {
  width: 60%;
  height: 50%;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fade-in 0.5s ease-in;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#enter-button {
  margin-top: 20px;
  width: 50%;
  height: 40px;
  border-radius: 25px;
  border: 0px;
}

#text-label {
  margin-top: 20px;
  width: 47%;
  height: 40px;
  border-radius: 25px;
  border: 1px rgb(0, 145, 255) solid;
  padding-left: 20px;
}

#city-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav-bar {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20%;
}

#city-form-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 10px;
}

#enter-button-1 {
  width: 70px;
  height: 40px;
  border-radius: 25px;
  border: 0px;
}

#text-label-1 {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: 1px rgb(0, 145, 255) solid;
  padding-left: 20px;
}

#buttons {
  display: flex;
  width: 150px;
  gap: 10px;
  --b: 1px; /* the border thickness */
  --h: 1.8em; /* the height */
}

#buttons button {
  --_c: #000000;
  flex: calc(1.25 + var(--_s, 0));
  min-width: 0;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  height: var(--h);
  cursor: pointer;
  color: var(--_c);
  border: var(--b) solid var(--_c);
  background: conic-gradient(
      at calc(100% - 1.3 * var(--b)) 0,
      var(--_c) 209deg,
      #0000 211deg
    )
    border-box;
  clip-path: polygon(0 0, 100% 0, calc(100% - 0.577 * var(--h)) 100%, 0 100%);
  padding: 0 calc(0.288 * var(--h)) 0 0;
  margin: 0 calc(-0.288 * var(--h)) 0 0;
  box-sizing: border-box;
  transition: flex 0.4s;
}
#buttons button + button {
  --_c: #fbfbfb;
  flex: calc(0.75 + var(--_s, 0));
  background: conic-gradient(
      from -90deg at calc(1.3 * var(--b)) 100%,
      var(--_c) 119deg,
      #0000 121deg
    )
    border-box;
  clip-path: polygon(calc(0.577 * var(--h)) 0, 100% 0, 100% 100%, 0 100%);
  margin: 0 0 0 calc(-0.288 * var(--h));
  padding: 0 0 0 calc(0.288 * var(--h));
}
#buttons button:focus-visible {
  outline-offset: calc(-2 * var(--b));
  outline: calc(var(--b) / 2) solid #000;
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
#buttons button:focus-visible + button {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
#buttons button:has(+ button:focus-visible) {
  background: none;
  clip-path: none;
  margin: 0;
  padding: 0;
}
button:hover,
button:active:not(:focus-visible) {
  --_s: 0.75;
}
button:active {
  box-shadow: inset 0 0 0 100vmax var(--_c);
  color: #fff;
}
/* buttons style by Temani Afif from https://freefrontend.com/css-buttons/ */
